@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ===== VARIÁVEIS ===== */
:root {
  --primary-color: #ba0d15;       /* Vermelho Netflix */
  --secondary-color: #221f1f;     /* Preto escuro / fundo */
  --accent-color: #7b0309;        /* Vinho intenso */
  --background-color: #242424;    /* Fundo principal */
  --card-color: #3e3e3e;          /* Fundo dos cards */
  --text-color: #ffffff;          /* Texto principal branco */
  --muted-color: #b3b3b3;         /* Texto secundário (cinza claro) */
  --border-color: #333333;        /* Bordas suaves */
  --shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
  --linear: linear-gradient(#7b0309, #a3010a);
}

/* ===== REGRAS GERAIS ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
}

header {
  background: linear-gradient(var(--primary-color), var(--accent-color));
  padding: 1.5rem 0;
  text-align: center;
  color: white;
  box-shadow: var(--shadow);
}

header h1 {
  font-size: 60px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

/* ===== TITULOS ===== */
h2 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  font-weight: 500;
  border-left: 5px solid var(--primary-color);
  padding-left: 1rem;
  text-align: left;
}

/* ===== CONTAINERS ===== */
.containerPrincipalCadastro,
.containerPrincipal {
  background: var(--card-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 20px auto;
  width: 100%;
  max-width: 75%;
}

.containerPrincipal {
  padding: 2rem;
  border-radius: 12px;
  max-width: 40%;
}

/* ===== FORMULÁRIOS ===== */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.formulario,
.formularioCadastro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formularioCadastro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.campoFormulario {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.labelFormulario {
  font-weight: 500;
  color: var(--text-color);
  font-size: 1.1rem;
  margin-top: 15px;
}

.inputFormulario,
.textareaFormulario {
  padding: 1rem;
  border: 2px solid var(--border-color);
  background-color: #d1d1d1;
  border-radius: 30px;
  font-size: 1rem;
  transition: 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

input::placeholder {
  color: #333333;
}

.inputFormulario:focus,
.textareaFormulario:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 3px rgba(142, 68, 173, 0.15);
}

.textareaFormulario {
  min-height: 170px;
  resize: vertical;
}






/* ===== BOTOES ===== */
.botaoContainer,
.botoesCadastro,
.navegacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

a.botao,
button.botao {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;

  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  background: var(--linear);
  color: white;
  border: none;
  box-shadow: var(--shadow);
}

a.botao:hover,
button.botao:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

/* ===== BOTÕES PEQUENOS ===== */
.botaoPequeno {
  display: inline-block;
  padding: 0.8rem 1.5rem;  
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  width: 100%;
  max-width: 90px;
  margin: 0.5rem 0.2rem;
  background: linear-gradient(135deg, var(--primary-color), var(--accent-color));
  color: white;
  border: none;
  box-shadow: var(--shadow);
}

.botaoPequeno:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.acoesCard {
  align-items: center;
  margin-left: 80px;
  margin-top: 10px;
}

/* ===== LINKS ===== */
.linkEsqueceuSenha {
  font-size: 0.9rem;
  color: var(--muted-color);
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.linkEsqueceuSenha:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* ===== ESTADO VAZIO ===== */
.mensagemVazia {
  text-align: center;
  color: var(--muted-color);
  padding: 2rem;
  background: var(--card-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 2rem 0;
  font-size: 1.1rem;
}

/* ===== RODAPÉ ===== */
footer {
  text-align: center;
  background: linear-gradient(var(--primary-color), var(--accent-color));
  color: white;
  padding: 1.5rem;
  margin-top: auto;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  border-top: 2px solid var(--secondary-color);
}

/* ===== CARDS DE FILMES ===== */
.listaFilmes {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 2fr));
  margin-right: 20px;
  gap: 10px;
}


.cardFilme {
  background: #484848;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  width: 100%;
  
  margin: 10px;
  padding: 0.7rem;
  box-shadow: var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardFilme:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.cardFilme h3 {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 0.7rem;
  padding-bottom: 5px;
  border-bottom: 2px solid #f35961;
}

.cardFilme .anoFilme {
  font-size: 1rem;
  color: #dfdfdf;
}

.cardFilme p {
  margin: 0.2rem 0;
  font-size: 0.95rem;
  color: var(--text-color);
}

.cardFilme p strong {
  color: #ff757c;
}

/* ===== PÁGINA DE SUCESSO ===== */
.containerSucesso {
  background-color: var(--card-color);
  padding: 40px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  text-align: center;
  max-width: 600px;
  width: 90%;
  margin: auto;
}

h1.sucesso {
  color: var(--primary-color);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.dadosFilme {
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  background-color: #2b2b2b;
  border-radius: 12px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

.dadosFilme strong {
  color: var(--primary-color);
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  .containerPrincipalCadastro {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1.8rem;
  }

  header h1 {
    font-size: 2rem;
  }

  .botao {
    max-width: 100%;
  }

  .containerSucesso {
    padding: 25px;
  }

  h1.sucesso {
    font-size: 2.2rem;
  }
}

.cardPoster {
  width: 100%;
  height: auto; 
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);

}

.posterSucessoContainer {
  margin: 0 auto 1.5rem auto;
  width: 100%;
  max-width: 250px;
}

.posterSucessoContainer img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: var(--shadow);
  background-color: var(--secondary-color);
}
