/* ===== CABEÇALHO PRINCIPAL (STICKY) ===== */
.header {
  background: rgba(17, 24, 39, 0.5);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 50;
}

/* ===== CONTAINER GERAL DO HEADER ===== */
.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

/* ===== CONTEÚDO DO HEADER (LOGO, BUSCA, LINKS) ===== */
.header-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 2rem;
}

/* ===== LOGO ===== */
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-self: start;
}

.logo img {
  width: 40px;
  height: auto;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

/* ===== ÁREA DE PESQUISA ===== */
.search-wrapper {
  width: 44rem;
  max-width: 100%;
  justify-self: center;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  color: #9ca3af;
  z-index: 1;
}

.search-input {
  width: 100%;
  background: #1f2937;
  border: 1px solid #2d3748;
  border-radius: 0.5rem;
  padding: 0.625rem 1rem 0.625rem 2.75rem;
  font-size: 0.875rem;
  color: white;
  outline: none;
  transition: all 0.2s;
  z-index: 1;

}

.search-input:focus {
  border-color: #88b7ff;
}

.search-input::placeholder {
  color: #6b7280;
}

/* ===== NAVEGAÇÃO (LINKS PRINCIPAIS DA DIREITA) ===== */
.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-self: end;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #9ca3af;
  text-decoration: none;
  transition: all 0.2s ease;
  gap: 0.35rem;
}

.nav-link:hover,
.nav-link.active {
  color: white;
}

.nav-link svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 2px;
}

/* =====  SUB-NAVBAR ===== */
.sub-nav-container {
  width: 100%;
  background-color: #030712;
  border-top: 1px solid rgba(75, 85, 99, 0.3);
  border-bottom: 1px solid rgba(75, 85, 99, 0.3);
  display: flex;
  justify-content: center;
}

.sub-nav {
  width: 44rem;
  max-width: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.sub-nav-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: #9ca3af;
  text-decoration: none;
  transition: all 0.2s ease;
  padding: 0 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}


.sub-nav-link.active {
  color: white;
  border-bottom-color: #88b7ff;
}

.sub-nav-link:hover:not(.active) {
  color: white;
  border-bottom-color: #88b7ff;
}